.test {
  font-family: "ubuntu";
  font-family: ubuntu;
  font-family: "UBUNTU";
  font-family: "ubuntu";
  font-family: 17;
  font-family: 2;
  font-family: "ubUNTU,j lbskdhvs ";
  font-family: "skd";
  font-family: u5112551f; }
