// sass extends
// .first {
//     background: green;
//     width: 200px;
//     font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
//     font-style: italic;
//     font-size: 20px;
// }

%first { // use % as placeholder
    background: green;
    width: 200px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-style: italic;
    font-size: 20px;
}
.second {
    background: palevioletred;
    width: 400px;
    @extend %first
}

.third {
    background: cornflowerblue;
    width: 600px;
    @extend %first
}