.first {

    width: 100px;
    background: red;

    height: 100px;
}



.second {
    background: green;
    margin: 10px;
    width: 300px;
    height: 200px;
}

.third {
    background: coral;
    font-style: italic;
}